{
  "swagger": "2.0",
  "info": {
    "description": "  [변경 사항] - 2019/02/21 ~ 2019/02/27\n   1. story, content관련 응답model 변경\n 2. /api/contents에서 story_id -> stories_id로 변경\n 3. /api/profile에서 query파라미터는 designerId만 존재하며 응답결과도 디자이너 정보만 응답한다.\n 4. /api/hashtag 기능 구현 ",
    "version": "1.0.0",
    "title": "Project_mania",
    "termsOfService": "https://sejongduck.slack.com/messages/DD8VA56BD/convo/CD3D3F41E-1543895986.000500/",
    "contact": {
      "name": "YoonJae Song"
    }
  },
  "host": "kalin.iptime.org:3100",
  "basePath": "/",
  "tags": [
    {
      "name": "profile",
      "description": "작가 리소스에 대한 api"
    },
    {
      "name": "story",
      "description": "story 리소스에 대한 api"
    },
    {
      "name": "content",
      "description": "content 리소스에 대한 api"
    },
    {
      "name": "hashtag",
      "description": "hashtag 리소스에 대한 api"
    },
    {
      "name": "Later",
      "description": "앞으로 업데이트 될 api입니다"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/api/profile": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "user or designer의 프로필에 관한 api",
        "description": " desginerId\n - null이면 본인의 페이지 따라서 비활성화 스토리 정보도 가져온다.\n - null이 아니면 타인의 페이지 비활성화 스토리 정보는 가져오지 않는다. ",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "desginerId",
            "in": "query",
            "description": "어떤 작가의 공간인지 확인하기 위해",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "designer": {
                  "$ref": "#/definitions/designer"
                }
              }
            }
          }
        }
      }
    },
    "/api/stories": {
      "get": {
        "tags": [
          "story"
        ],
        "summary": "story list를 건네주는 api",
        "description": " 스토리 정보: id, 제목, 설명, 대표 이미지\n desginerId\n - null: 본인의 공간으로 들어왔을 경우 token으로 정보를 가져온다.\n - null 아닌 경우: 받은 id값으로 해당 작가의 프로필 정보를 가져온다. ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desginerId",
            "in": "query",
            "description": "타인의 공간에 들어갔을 때",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "stories": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/story"
                  }
                }
              }
            }
          },
          "503": {
            "description": "DB error"
          }
        }
      },
      "post": {
        "tags": [
          "story"
        ],
        "summary": "story 등록 api - Dug로 인해 해당 api는 test가 안됩니다",
        "description": "",
        "operationId": "CreateStroy",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "hashtagNames",
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "description": "해쉬태그의 이름 hashtagId와 같은 순서로 보내야 한다"
          },
          {
            "in": "formData",
            "name": "title",
            "required": true,
            "type": "string",
            "description": "제목"
          },
          {
            "in": "formData",
            "name": "decription",
            "required": true,
            "type": "string",
            "description": "story 설명"
          },
          {
            "in": "formData",
            "name": "image",
            "type": "file",
            "description": "대표 이미지"
          }
        ],
        "responses": {
          "201": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "story": {
                  "$ref": "#/definitions/story"
                },
                "hashtags": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error"
          },
          "503": {
            "description": "DB error"
          }
        }
      }
    },
    "/api/stories/{storyId}": {
      "get": {
        "tags": [
          "story"
        ],
        "summary": "해당 스토리의 정보를 가져오는 api",
        "description": "스토리 정보: id, 제목, 소개, 대표 이미지",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "storyId",
            "type": "integer",
            "required": true,
            "description": "어떤 스토리인지 확인하기 위해"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "story": {
                  "$ref": "#/definitions/story"
                }
              }
            }
          },
          "503": {
            "description": "DB error"
          }
        }
      }
    },
    "/api/stories/{storyId}/contents": {
      "get": {
        "tags": [
          "content"
        ],
        "summary": "컨텐츠에 대한 정보를 가져오는 api",
        "description": "정보: id, 썸네일",
        "parameters": [
          {
            "name": "storyId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/content"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stories/{storyId}/contents/{contentId}": {
      "get": {
        "tags": [
          "content"
        ],
        "summary": "해당 content정보를 가져오는 api",
        "description": "content정보: id, image URL",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "storyId",
            "type": "integer",
            "required": true
          },
          {
            "in": "path",
            "name": "contentId",
            "type": "integer",
            "required": true,
            "description": "어떤 content인지 확인하기 위해"
          }
        ],
        "responses": {
          "200": {
            "description": "successful to get the content",
            "schema": {
              "type": "string",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "content": {
                  "$ref": "#/definitions/content"
                }
              }
            }
          },
          "503": {
            "description": "DB error"
          }
        }
      }
    },
    "/api/contents": {
      "post": {
        "tags": [
          "content"
        ],
        "summary": "content 등록 api",
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "stories_id",
            "type": "integer",
            "required": true
          },
          {
            "in": "formData",
            "name": "description",
            "type": "string",
            "required": true,
            "description": "content 설명"
          },
          {
            "in": "formData",
            "name": "image",
            "type": "file",
            "required": true,
            "description": "content image"
          }
        ],
        "responses": {
          "201": {
            "description": "successful to create the content",
            "schema": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "content": {
                  "$ref": "#/definitions/content"
                }
              }
            }
          },
          "400": {
            "description": "error"
          },
          "503": {
            "description": "DB error"
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "tags": [
          "Later"
        ],
        "summary": "검색관련 api",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "text",
            "type": "string",
            "required": true,
            "description": "검색어"
          },
          {
            "in": "query",
            "name": "type",
            "type": "integer",
            "required": true,
            "description": "어떤 검색인지 확인하기 위해"
          }
        ],
        "responses": {
          "200": {
            "description": "검색 성공",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/news": {
      "get": {
        "tags": [
          "Later"
        ],
        "summary": "소식에 관련 api",
        "parameters": [],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/hashgtags": {
      "get": {
        "tags": [
          "hashtag"
        ],
        "summary": "해시태그 정보를 가져오는 api",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "storyId",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "hashtags": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/hashtag"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:pets": "modify pets in your account",
        "read:pets": "read your pets"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "story": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "likeNum": {
          "type": "integer"
        },
        "commentNum": {
          "type": "integer"
        },
        "storeNum": {
          "type": "integer"
        }
      }
    },
    "content": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "썸네일 or 원본 이미지"
        },
        "liekNum": {
          "type": "integer",
          "description": "공감 수"
        },
        "commentNum": {
          "type": "integer",
          "description": "의견 수"
        }
      }
    },
    "user": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "supportNum": {
          "type": "integer",
          "description": "오늘 남은 응원의 수"
        },
        "supportTotal": {
          "type": "integer",
          "description": "여태껏 응원한 수"
        },
        "followDesigners": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "팔로우한 작가의 id"
              },
              "name": {
                "type": "string",
                "description": "팔로우한 작가의 이름"
              }
            }
          }
        },
        "followStories": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "팔로우한 스토리의 id"
              },
              "name": {
                "type": "string",
                "description": "팔로우한 스토리의 이름"
              }
            }
          }
        }
      }
    },
    "designer": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "insta_url": {
          "type": "string"
        },
        "fb_url": {
          "type": "string"
        },
        "youtube_url": {
          "type": "string"
        },
        "web_url": {
          "type": "string"
        },
        "storyNum": {
          "type": "integer",
          "description": "스토리 개수"
        },
        "supportNum": {
          "type": "integer",
          "description": "받은 응원의 수"
        },
        "followNum": {
          "type": "integer",
          "description": "팔로우 수"
        }
      }
    },
    "hashtag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}